

.main {
   margin-left: 2em;
}

.main h1{
   text-align: center;
}

.main table{
   border-collapse: separate;
   background-color: #e5f9ff;
   margin-left: 1em;
   width: 90%;
   border-radius: 1em;
}

.main th {
   padding: 1em;
}

.main td {
   padding: 1em;
}

.main .tweet_show{
   margin: 0 auto;
   width: 20%;
   
}
