

.main {
   margin-left: 2em;
}

.main table{
   border-collapse: separate;
   background-color: #e5f9ff;
   margin-left: 1em;
   width: 90%;
   border-radius: 1em;
}

.main th {
   padding: 1em;
}

.main td {
   padding: 1em;
}

